:root {
  --water-color: linear-gradient(to right top, #65dfc9, #6cdbeb);
  --main-color: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.25)
  );
  --font-color: #16424b;
  --white-color: rgb(240, 240, 240);
  --blue-color: #6cdbeb;
  --green-color: #65dfc9;
  --gray-color: #bef0ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--water-color);
  color: var(--font-color);
  font-family: "Open Sans", sans-serif;
}

li,
a {
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  color: inherit;
}

.bold-text {
  font-weight: 600;
}
/* HEADER */

header {
  box-shadow: 5px 5px 4px 0 rgba(22, 66, 75, 0.1);
  position: fixed;
  background: var(--water-color);
  z-index: 100;
  width: 100%;
}

header .menu-icon {
  display: none;
}

header .menu-btn {
  display: none;
}

nav {
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70rem;
  overflow: hidden;
}

ul a {
  display: block;
}

ul li {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  padding: 1rem 4rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

ul li:hover {
  border: 2px solid var(--font-color);
  border-radius: 2rem;
  transform: scale(1.1);
}

.current-page {
  border: 2px solid var(--font-color);
  border-radius: 2rem;
  background: var(--font-color);
  color: var(--white-color);
}

.logo-container {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 2.25rem;
  color: var(--font-color);
  cursor: pointer;
  padding: 0.8rem;
  transition: 0.7s;
}

.logo:hover {
  color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 50%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3rem;
  padding: 1rem;
}

.search-input {
  font-size: 1.3rem;
  color: black;
  line-height: 3rem;
  float: left;
  outline: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  transition: 0.4s;
  width: 0;
}

.search-container:hover > .search-input {
  background: var(--white-color);
  width: 15rem;
  padding: 0 0.6rem;
}

.search-btn {
  margin-left: -5%;
  background: var(--font-color);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  color: var(--blue-color);
}

.search-btn:hover {
  color: var(--white-color);
}

.search-icon {
  font-size: 1.5rem;
  transform: rotate(90deg);
}

.social-container {
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-icon {
  padding: 0 0.4rem;
  font-size: 3rem;
  cursor: pointer;
  transition: 1s;
}

.social-icon:hover {
  color: var(--white-color);
}

/* BLOG PAGE SECTION */

.blog-section {
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.breadcrumb {
  margin: 8% 0 0 0;
  width: 50%;
  font-size: 1.7rem;
}

.blog-container {
  margin: 2% 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-post {
  margin: 2% 0;
  height: 40rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.img-container img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transition: 0.4s ease-out;
  object-fit: cover;
}

.img-container img:hover {
  transform: scale(1.1);
}

.text-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--gray-color);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.text-container h2 {
  font-size: 2rem;
  text-transform: capitalize;
}

.text-container p {
  padding: 0 5%;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: left;
  font-weight: 600;
}

.continue-btn {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  background: var(--font-color);
  color: var(--white-color);
  padding: 0.7rem 2.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: 1.5s ease;
}

.continue-btn:hover {
  background: var(--water-color);
  color: var(--font-color);
}

.viewmore-btn {
  margin: 2%;
  font-size: 1.2rem;
  text-transform: capitalize;
  border: 2px solid var(--font-color);
  background: var(--font-color);
  color: var(--white-color);
  padding: 2.9rem 0.8rem;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
  transition: 1s ease;
}

.viewmore-btn:hover {
  color: var(--font-color);
  background: var(--water-color);
}

/* ERROR HANDLING */

.error {
  color: red;
  font-size: 1.5rem;
  border: solid 2px red;
  line-height: 3rem;
  background: rgba(255, 0, 0, 0.1);
  height: 10rem;
  width: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 58vh;
  text-align: center;
}

.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #e4e4e4;
  border-top: 16px solid rgb(8, 228, 8);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-bottom: 58vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* FOOTER */

footer {
  min-height: 30vh;
  width: 100%;
  background: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

/* NEWSLETTER FORM */

.newsletter-container {
  padding: 1rem;
  height: 15rem;
  width: 32.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--water-color);
  border-radius: 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

label {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2rem;
}
input {
  background: var(--white-color);
  width: 25rem;
  height: 3rem;
  border-radius: 0.6rem;
  border: none;
  text-align: center;
}

.newsletter-btn {
  width: 25rem;
  height: 3.5rem;
  border: none;
  border-radius: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  background: var(--font-color);
  color: var(--white-color);
  border: 2px solid var(--font-color);
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 1s ease;
}

.newsletter-btn:hover {
  background: var(--water-color);
  color: var(--font-color);
}

.form-error {
  margin-top: 1%;
  color: red;
  font-size: 1.2rem;
  display: none;
}

/* FOOTER SOCIAL CONTAINER */

.footer-social-container {
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.footer-social-container h4 {
  color: var(--white-color);
  font-size: 2rem;
  text-transform: capitalize;
}

.social-footer {
  padding: 0 0.4rem;
  font-size: 4rem;
  cursor: pointer;
  transition: 0.3s;
  color: var(--green-color);
  transition: 1s;
}

.social-footer:hover {
  color: var(--white-color);
}

.arrow-container {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes up-animation {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 2.5rem;
  }
}

.arrow-up {
  font-size: 4rem;
  color: var(--blue-color);
  cursor: pointer;
  transition: 0.3s;
}

.arrow-up:hover {
  color: var(--white-color);
  animation-name: up-animation;
  animation-duration: 0.8s;
  animation-iteration-count: 2;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  /* HEADER RESPONSIVE MODE */

  ul {
    flex-direction: column;
    margin-right: 25%;
  }

  .nav-container {
    display: none;
  }

  header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  header .menu-icon {
    padding: 28px 20px;
    position: absolute;
    float: right;
    cursor: pointer;
    display: block;
    right: 0;
    margin-right: 5%;
  }

  header .menu-icon .nav-icon {
    background: var(--font-color);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
  }

  header .menu-icon .nav-icon:before {
    background: var(--font-color);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    transition: all 0.2s ease-out;
  }

  header .menu-icon .nav-icon:after {
    background: var(--font-color);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    transition: all 0.2s ease-out;
  }

  header .menu-btn {
    display: none;
  }

  header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }

  .logo-container {
    margin-left: 5%;
  }

  /* BLOG PAGE RESPONSIVE MODE (TABLET VIEW) */

  .breadcrumb {
    margin: 12% 0 0 0;
    width: 80%;
    font-size: 1.5rem;
  }

  .blog-post {
    width: 80%;
    height: 30rem;
  }

  .text-container p {
    padding: 0 8%;
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .text-container h2 {
    font-size: 1.6rem;
    margin-top: 8%;
  }

  .continue-btn {
    margin-bottom: 10%;
    font-size: 1.3rem;
    background: var(--water-color);
    color: var(--font-color);
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  /* FOOTER RESPONSIVE MODE */

  footer {
    min-height: auto;
  }

  .footer-container {
    height: 100%;
    flex-direction: column;
  }

  .footer-social-container,
  .newsletter-container,
  .arrow-container {
    margin: 5% 0;
  }
}

/* BLOG PAGE RESPONSIVE MODE (MOBILE VIEW)  */

@media only screen and (max-width: 767px) {
  .container h1 {
    margin: 5% 0;
    font-size: 3rem;
  }

  .breadcrumb {
    margin: 18% 0 0 0;
  }

  .blog-post {
    overflow: hidden;
    margin: 1rem;
    height: 45rem;
    background: var(--gray-color);
    border-radius: 2rem;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .img-container,
  .text-container {
    width: 100%;
  }

  .img-container img {
    background-size: cover;
    height: 20rem;
    width: 100%;
    border-bottom-left-radius: 0;
  }

  .text-container {
    justify-content: space-between;
  }

  .text-container h2 {
    margin-top: 0;
  }

  .text-container p {
    padding: 0 5%;
  }
}
